<h1>Best On Instant</h1>
<h3>Last updated on: <%= @list.created_at.strftime("%m/%d/%Y") %></h3>



<p>Get a text when movies from the IMDB Top 250 list are added to Netflix instant!</p>

<p id="error"><%= flash[:error] %></p>
<p id="notice"><%= flash[:notice] %></p>

<%= form_tag("pages/subscribe", method: "post", id: "subscribe") do %>
  +1 ( <%= text_field "area_code", "", :maxlength => 3, :size=>"10" %> )
  <%= text_field "first", "", :maxlength => 3 %> -
  <%= text_field "last", "", :maxlength => 4 %>
  <%= submit_tag("NOTIFY ME") %>
<% end %>

<% if @notications %>
  <ul>
    <% @notifications.each do |notification| %>
      <li><%= "#{notification.message}" %></li>
    <% end %>
  </ul>
<% end %>
<br>

<table class="movie-list">
  <% @movies.each_slice(5) do |slice| %>
  <tr>
    <% slice.each do |movie| %>
      <td>
        <div class="col-lg-4 movie-circle">
          <%= image_tag(movie.poster, size: "130x130", :class => "img-circle") %>
          <h4><%= "##{movie.rank}" %></h4>
          <h4><%= link_to("#{movie.name}", movie.url, :target => "_blank") %></h4>
          <p><h4><%= "(#{movie.year})" %></h4></p>
        </div>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
