<h1>Best On Instant</h1>
<h3>Last updated on: <%= @list.created_at.strftime("%m/%d/%Y") %></h3>



<p>Get a text when movies from the IMDB Top 250 list are added to Netflix instant!</p>

<p id="error"><%= flash[:error] %></p>
<p id="notice"><%= flash[:notice] %></p>

<%= form_tag("pages/subscribe", method: "post", id: "subscribe") do %>
  +1 ( <%= text_field "area_code", "", :maxlength => 3 %> )
  <%= text_field "first", "", :maxlength => 3 %>
  <%= text_field "last", "", :maxlength => 4 %>
  <%= submit_tag("NOTIFY ME") %>
<% end %>

<% if @notications %>
  <ul>
    <% @notifications.each do |notification| %>
      <li><%= "#{notification.message}" %></li>
    <% end %>
  </ul>
<% end %>
<ul class="movie-list">
  <% @movies.each do |movie| %>
    <li>
      <%= image_tag(movie.poster, size: "45x65") %>
      <b><%= "#{movie.rank}." %></b> <%= link_to("#{movie.name}", movie.url, :target => "_blank") %>
      <%= "(#{movie.year})" %>
    </li>
  <% end %>
</ul>
